Source: pardus-lightdm-greeter-qrcode
Section: misc
Priority: optional
Maintainer: bayramkarahan <bayramk@gmail.com>
Build-Depends: debhelper (>= 10), make
Standards-Version: 4.3.0
Homepage: https://www.pardus.org.tr

Package: pardus-lightdm-greeter-qrcode
Architecture: all
Depends: pardus-lightdm-greeter,
         python3-qrcode
Description: Pardus Greeter QR plugin
 Pardus greeter qr plugin
