Package: pardus-lightdm-greeter-qrcode
Version: 1.0
Architecture: all
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 18
Depends: pardus-lightdm-greeter, python3-pyqrcode
Section: misc
Priority: optional
Homepage: https://www.pardus.org.tr
Description: Pardus Greeter QR plugin
 Pardus greeter qr plugin
